.activity{
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.activity::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: rgba(148, 82, 255, 0.9); */
    border: 2px solid #9452ff;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 9px;
    transition: .4s;
}

.activity:hover::before{
    transform: rotate(-3deg);
}

.activity img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.activity .name{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 15px 0 10px;
    color: #202020;
}

.activity .about{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 8px;
    line-height: 18px;

}

.activity .age,
.activity .time{
    margin: 8px 0;
    font-weight: 400;
}

.activity .age span,
.activity .time span{
    margin: 8px 0;
    font-weight: 500;
}

.activity .time{
    margin-bottom: 20px;
}

.activity .add-btn{
    width: 100%;
    padding: 6px;
    border: none;
    background: #9452ff;
    border: 2px solid #9452ff;
    color: #fff;
    border-radius: 4px;
    transition: .4s;
}

.activity .add-btn:hover{
    background: transparent;
    color: #9452ff;
}