.activity-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.activities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #9452FF;
}

@media (max-width: 1199px) { 
    .activities{
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 991px) { 
    .activities{
        grid-template-columns: 1fr;
    }    
}

@media (max-width: 770px) { 
    .activity-container{
        grid-template-columns: 1fr;
    }    
    .activities{
        grid-template-columns: 1fr 1fr;
    } 
}

@media (max-width: 770px) { 
    .activities{
        grid-template-columns: 1fr;
    } 
}